<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- ehcache 全局缓存 -->
	<!-- <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		ehcache缓存配置文件
		<property name="configLocation" value="classpath:spring-examw-collector-ehcache.xml"/>
		是否共享
		<property name="shared" value="true"/>
	</bean> -->
	<!-- 系统服务 End -->
	<!-- 菜单服务 -->
	<bean id="menuService" class="com.examw.collector.service.impl.MenuServiceImpl">
		<!-- 菜单文件 -->
		<property name="menuFile" value="${menuFile}"/>
		<!-- 系统ID -->
		<property name="systemId" value="${systemId}"/>
	</bean>
	<!-- 密码工具 -->
	<bean id="passwordHelper"  class="com.examw.collector.support.PasswordHelper">
		<!-- 验证密码算法 -->
		<property name="algorithmName"  value="${algorithmName}" />
		<!-- 迭代次数 -->
		<property name="hashIterations"  value="${hashIterations}"  />
	</bean>
	<!-- 用户管理服务 -->
	<bean id="userService"  class="com.examw.collector.service.impl.UserServiceImpl">
		<!-- 用户数据接口 -->
		<property name="userDao"  ref="userDao" />
		<!-- 密码工具 -->
		<property name="passwordHelper"  ref="passwordHelper" />
		<!-- 用户状态 -->
		<property name="statusNames">
			<map>
	   			<entry key="0"  value="${STATUS_DISABLE}" />
	   			<entry key="1"  value="${STATUS_ENABLED}" />
	   		</map>
		</property>
		<!-- 性别 -->
		<property name="genderNames">
			<map>
	   			<entry key="1"  value="${GENDER_MALE}" />
	   			<entry key="2"  value="${GENDER_FEMALE}" />
	   		</map>
		</property>
	</bean>
	<!-- 登录日志服务 -->
	<bean id="loginLogService"  class="com.examw.collector.service.impl.LoginLogServiceImpl">
		<property name="loginLogDao" ref="loginLogDao" />
	</bean>
	<!-- 操作日志服务 -->
	<bean id="operateLogService"  class="com.examw.collector.service.impl.OperateLogServiceImpl">
		<property name="operateLogDao" ref="operateLogDao" />
		<property name="typeMap">
			<map>
	   			<entry key="0"  value="环球code比对" />
	   			<entry key="1"  value="更新课程分类数据" />
	   			<entry key="2"  value="更新科目数据" />
	   			<entry key="3"  value="更新班级数据" />
	   			<entry key="4"  value="更新套餐数据" />
	   			<entry key="5"  value="检测数据更新" />
	   		</map>
		</property>
	</bean>
	<!-- 系统服务 End -->
	<!-- 远程数据代理服务 -->
	<bean id="remoteDataProxy" class="com.examw.collector.service.impl.RemoteDataProxyImpl">
		<!-- 合作ID号 -->
		<property name="sid" value="${REMOTE_SID}" />
		<!-- 合作私钥 -->
		<property name="key" value="${REMOTE_KEY}" />
		<!-- 课程数据URL-->
		<property name="lessonUrl" value="${REMOTE_LESSON_URL}" />
		<!-- 用户操作URL -->
		<property name="userUrl" value="${REMOTE_USER_URL}" />
		<!-- 老师页面采集地址 -->
		<property name="teacherUrl" value = "${REMOTE_TEACHER_URL}" />
	</bean>
	<!-- 数据服务 -->
	<bean id="dataServer" class="com.examw.collector.service.impl.DataServerImpl">
		<!-- 远程数据代理 -->
		<property name="remoteDataProxy" ref="remoteDataProxy" />
		<!-- 图片存储位置 -->
		<property name="savePath" value="${IMAGE_SAVE_PATH}" />
	</bean>
	<!-- 课程分类服务 -->
	<bean id="catalogService" class="com.examw.collector.service.impl.CatalogServiceImpl">
	    <property name="catalogDao" ref="catalogDao"/>
	    <property name="subjectDao" ref="subjectDao"/>
	    <property name="dataServer" ref="dataServer"/>
	    <property name="operateLogDao" ref="operateLogDao"/>
	</bean>
	<!-- 科目服务 -->
	<bean id="subjectService" class="com.examw.collector.service.impl.SubjectServiceImpl">
	    <property name="subjectDao" ref="subjectDao"/>
	    <property name="dataServer" ref="dataServer"/>
	    <property name="catalogDao" ref="catalogDao"/>
	    <property name="operateLogDao" ref="operateLogDao"/>
	</bean>
	<!-- 班级服务 -->
	<bean id="subClassService" class="com.examw.collector.service.impl.SubClassServiceImpl">
	    <property name="subClassDao" ref="subClassDao"/>
	    <property name="subjectDao" ref="subjectDao"/>
	    <property name="adVideoDao" ref="adVideoDao"/>
	    <property name="dataServer" ref="dataServer"/>
	    <property name="operateLogDao" ref="operateLogDao"/>
	    <property name="gradeEntityDao" ref="gradeEntityDao"/>
	    <property name="catalogDao" ref="catalogDao"/>
	</bean>
	<!-- 课节服务 -->
	<bean id="relateService" class="com.examw.collector.service.impl.RelateServiceImpl">
	    <property name="relateDao" ref="relateDao"/>
	    <property name="dataServer" ref="dataServer"/>
	</bean>
	<!-- 广告服务 -->
	<bean id="adVideoService" class="com.examw.collector.service.impl.AdVideoServiceImpl">
	    <property name="adVideoDao" ref="adVideoDao"/>
	</bean>
	<!-- 套餐服务 -->
	<bean id="packService" class="com.examw.collector.service.impl.PackServiceImpl">
	    <!-- <property name="subClassDao" ref="subClassDao"/> -->
	    <property name="packDao" ref="packDao"/>
	    <property name="catalogDao" ref="catalogDao"/>
	    <property name="subjectDao" ref="subjectDao"/>
	    <property name="dataServer" ref="dataServer"/>
	    <property name="operateLogDao" ref="operateLogDao"/>
	    <property name="packageEntityDao" ref="packageEntityDao"/>
	</bean>
	
	<!-- 本地数据服务Start -->
	<bean id="catalogEntityService" class="com.examw.collector.service.impl.CatalogEntityServiceImpl">
	    <property name="catalogEntityDao" ref="catalogEntityDao"/>
	    <property name="operateLogDao" ref="operateLogDao"/>
	</bean>
	<bean id="subjectEntityService" class="com.examw.collector.service.impl.SubjectEntityServiceImpl">
	    <property name="subjectEntityDao" ref="subjectEntityDao"/>
	    <property name="subjectDao" ref="subjectDao"/>
	    <property name="catalogEntityDao" ref="catalogEntityDao"/>
	</bean>
	<!-- 班级服务 -->
	<bean id="gradeEntityService" class="com.examw.collector.service.impl.GradeEntityServiceImpl">
	    <property name="gradeEntityDao" ref="gradeEntityDao"/>
	    <property name="subClassDao" ref="subClassDao"/>
	    <property name="subjectEntityDao" ref="subjectEntityDao"/>
	    <!-- <property name="dataServer" ref="dataServer"/> -->
	</bean>
	<!-- 课节服务 -->
	<bean id="listenEntityService" class="com.examw.collector.service.impl.ListenEntityServiceImpl">
	    <property name="listenEntityDao" ref="listenEntityDao"/>
	    <!-- <property name="dataServer" ref="dataServer"/> -->
	    <property name="relateDao" ref="relateDao"/>
	</bean>
	<!-- 套餐服务 -->
	<bean id="packageEntityService" class="com.examw.collector.service.impl.PackageEntityServiceImpl">
	    <property name="packageEntityDao" ref="packageEntityDao"/>
	    <property name="catalogEntityDao" ref="catalogEntityDao"/>
	    <property name="packDao" ref="packDao"/>
	    <property name="subjectEntityDao" ref="subjectEntityDao"/>
	    <!-- <property name="dataServer" ref="dataServer"/> -->
	</bean>
	<!-- 老师服务 -->
	<bean id="teacherEntityService" class="com.examw.collector.service.impl.TeacherEntityServiceImpl">
	    <property name="teacherEntityDao" ref="teacherEntityDao"/>
	    <property name="dataServer" ref="dataServer"/>
	</bean>
	<!-- 本地数据服务end -->
	
	<!-- 数据更新服务start -->
	<!-- 科目更新 -->
	<bean id="subjectUpdateService" class="com.examw.collector.service.impl.SubjectUpdateServiceImpl">
	    <property name="catalogDao" ref="catalogDao"/>
	    <property name="subjectDao" ref="subjectDao"/>
	    <property name="subjectEntityDao" ref="subjectEntityDao"/>
	    <property name="catalogEntityDao" ref="catalogEntityDao"/>
	    <property name="operateLogDao" ref="operateLogDao"/>
	</bean>
	<!-- 班级更新 -->
	<bean id="gradeUpdateService" class="com.examw.collector.service.impl.GradeUpdateServiceImpl">
	    <property name="subClassDao" ref="subClassDao"/>
	    <property name="subjectDao" ref="subjectDao"/>
	    <property name="subjectEntityDao" ref="subjectEntityDao"/>
	    <property name="gradeEntityDao" ref="gradeEntityDao"/>
	    <property name="listenEntityDao" ref="listenEntityDao"/>
	    <property name="dataServer" ref="dataServer"/>
	    <property name="relateDao" ref="relateDao"/>
	    <property name="operateLogDao" ref="operateLogDao"/>
	</bean>
	<!-- 套餐更新 -->
	<bean id="packageUpdateService" class="com.examw.collector.service.impl.PackageUpdateServiceImpl">
	   <property name="catalogDao" ref="catalogDao"/>
	    <property name="subjectDao" ref="subjectDao"/>
	    <property name="packDao" ref="packDao"/>
	    <property name="packageEntityDao" ref="packageEntityDao"/>
	    <property name="subjectEntityDao" ref="subjectEntityDao"/>
	    <property name="catalogEntityDao" ref="catalogEntityDao"/>
	    <property name="operateLogDao" ref="operateLogDao"/>
	</bean>
	<!-- 数据更新服务end -->
	
	<!-- 数据整体导入 -->
	<bean id="importDataService" class="com.examw.collector.service.impl.ImportDataServiceImpl">
	    <property name="subClassDao" ref="subClassDao"/>
	    <property name="subjectDao" ref="subjectDao"/>
	    <property name="subjectEntityDao" ref="subjectEntityDao"/>
	    <property name="gradeEntityDao" ref="gradeEntityDao"/>
	    <property name="listenEntityDao" ref="listenEntityDao"/>
	    <property name="packDao" ref="packDao"/>
	    <property name="packageEntityDao" ref="packageEntityDao"/>
	    <property name="teacherEntityDao" ref="teacherEntityDao"/>
	    <property name="adVideoDao" ref="adVideoDao"/>
	    <property name="dataServer" ref="dataServer"/>
	</bean>
</beans>