<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!-- 环球数据接口start -->
	<!-- 考试类别Dao -->
	<bean id="catalogDao" class="com.examw.collector.dao.impl.CatalogDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 科目Dao -->
	<bean id="subjectDao" class="com.examw.collector.dao.impl.SubjectDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 班级Dao -->
	<bean id="subClassDao" class="com.examw.collector.dao.impl.SubClassDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 广告Dao -->
	<bean id="adVideoDao" class="com.examw.collector.dao.impl.AdVideoDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 课节Dao -->
	<bean id="relateDao" class="com.examw.collector.dao.impl.RelateDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 套餐Dao -->
	<bean id="packDao" class="com.examw.collector.dao.impl.PackDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 环球数据接口end -->
	
	<!-- 本地数据接口start -->
	<bean id="catalogEntityDao" class="com.examw.collector.dao.impl.CatalogEntityDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 科目Dao -->
	<bean id="subjectEntityDao" class="com.examw.collector.dao.impl.SubjectEntityDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 班级Dao -->
	<bean id="gradeEntityDao" class="com.examw.collector.dao.impl.GradeEntityDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 试听Dao -->
	<bean id="listenEntityDao" class="com.examw.collector.dao.impl.ListenEntityDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 套餐Dao -->
	<bean id="packageEntityDao" class="com.examw.collector.dao.impl.PackageEntityDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 本地数据接口end -->
</beans>
